#emAndamento{
    text-align: center;
}

#p1{
    margin-left: 49%;
    margin-right: 3%;
    text-align: justify !important;
    margin-top: -30%;
    /* finish hoje */
}

#img2{
    margin-left: 5%;
}

